/Materia/build/
/Ejercicios/nbproject/private/
/Ejercicios/build/
/TEST/nbproject/private/
/TEST/build/
/JavaApplication5/nbproject/private/
/test/nbproject/private/
/test/build/
/EjercicioJava1/nbproject/private/
/EjercicioJava1/build/
/EjercicioJava2/nbproject/private/